<div class="container-2">
    <div class="sindan-container">
      <% if @topic.question == 1  %>
        <div class="col-12">
          <p>Q2.ハンターには体力も頭脳も必要。ではどちらがより重要でしょうか？</p>
        </div>
        <%= form_for(@topic2) do |f| %>
          <div class="col-6">
            <div class="col-7">
              <%= f.radio_button :question, "3", id: "question_3" %>
              <label for="question_3">体力</label>
            </div>
            <div class="col-7">
              <%= f.radio_button :question, "4", id: "question_4" %>
              <label for="question_4">頭脳</label>
            </div>
          </div>
          <div class="sindanbotan">
            <%= f.submit "次へ", class: "button" %>
          </div>
        <% end %>
      <% end %>

      <% if @topic.question == 2  %>
        <div class="col-12">
          <p>Q2.使いこなせばどんな物事にも応用が効く念能力。あなたは誰のために使いますか？</p>
        </div>
        <%= form_for(@topic2) do |f| %>
          <div class="col-6">
            <div class="col-7">
              <%= f.radio_button :question, "4", id: "question_4" %>
              <label for="question_4">自分のために使う</label>
            </div>
            <div class="col-7">
              <%= f.radio_button :question, "5", id: "question_5" %>
              <label for="question_5">周囲の人のために使う</label>
            </div>
          </div>
          <div class="sindanbotan">
            <%= f.submit "次へ", class: "button" %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>