<div class="container-3">
    <% if @topic5.question == 14  %>
        <div class="col-13">
            <p>強化系</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/gon.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>強固な意思を持ち、時にワガママな性格のアナタは強化系です！<br>
            バトルや力仕事で大活躍できる、パワーファイターに向いています。</p>
        </div>
    <% end %>

    <% if @topic5.question == 15  %>
        <div class="col-13">
            <p>変化形</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/kirua.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>ミステリアスな人だと思われがちなアナタは変化形！<br>
            オーラを身体から離さずに、素早い動きや細かな作業を得意とするハンターです。</p>
        </div>
    <% end %>

    <% if @topic5.question == 16  %>
        <div class="col-13">
            <p>具現化系</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/kurapika.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>細かいことにも目の届くアナタは具現化系！<br>
            持ち前の冷静な判断力や集中力で、何かを教えたり指導したりするのが得意でしょう。</p>
        </div>
    <% end %>

    <div class="col-15">
        <% if @topic5.question == 17  %>
            <div class="col-13">
                <p>放出系</p>
            </div>
            <div class="col-10">
                <%= image_tag '/assets/reorio.jpg', size: "250x250", class: 'hoge' %>
            </div>
            <div class="col-8">
                <p>上に厚いアナタは放出系にピッタリ！<br>
                面倒見がよいため仲間や後輩から慕われやすく、客商売に向いたハンターかもしれません。</p>
            </div>
        <% end %>
    </div>

    <% if @topic5.question == 18  %>
        <div class="col-13">
            <p>操作系</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/irumi.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>細かいとに機転が効き、筋道を考えられるアナタは操作系です！<br>
            理論派のハンターとして、きっと活躍できるでしょう。</p>
        </div>
    <% end %>

    <% if @topic5.question == 19  %>
        <div class="col-13">
            <p>特質系</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/kuroro.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>他の人と一線を画すただならぬ性格のアナタは特質系かもしれません。<br>
            周囲に自然と人が集まってくるリーダー格のハンターです。</p>
        </div>
    <% end %>

    <% if @topic5.question == 20  %>
        <div class="col-13">
            <p>念の修行にはまだ早い！！</p>
        </div>
        <div class="col-10">
            <%= image_tag '/assets/tonpa.jpg', size: "250x250", class: 'hoge' %>
        </div>
        <div class="col-8">
            <p>あなたは念の習得をするには十分な実力がないようです。<br>
            まずは四大行を行った方がいいですよ！</p>
        </div>
    <% end %>
   
    <div class="col-9">
        <%= link_to"トップページに戻る",topics_top_path %>
    </div>
</div>